Repository yokai-php/batch-src, changes with the labels that .github/labeler.yml gives for each.
All labels: yokai/batch, yokai/batch-doctrine-dbal, yokai/batch-doctrine-orm, yokai/batch-doctrine-persistence, yokai/batch-league-flysystem, yokai/batch-openspout, yokai/batch-symfony-console, yokai/batch-symfony-framework, yokai/batch-symfony-messenger, yokai/batch-symfony-pack, yokai/batch-symfony-serializer, yokai/batch-symfony-validator

refacto readme.md
  docs/doctrine.md
  docs/flysystem.md
  docs/getting-started.md
  docs/getting-started/project-overview.md
  docs/openspout.md
  docs/symfony.md
Labels: none

reafcto readme.md
  docs/getting-started/project-overview.md
Labels: none

Update ReadmeDocumentation
  README.md
  docs/README.md
Labels: none

Add documentation index (#126)
  README.md
  docs/README.md
Labels: none

Fixed tests & docs
  docs/docs/bridges/symfony-console.rst
  docs/docs/bridges/symfony-framework.rst
  docs/docs/core-concepts/item-job/item-processor.rst
  docs/docs/core-concepts/item-job/item-reader.rst
  docs/docs/core-concepts/item-job/item-writer.rst
  docs/docs/core-concepts/job-execution-storage.rst
  docs/docs/core-concepts/job-parameter-accessor.rst
  docs/docs/getting-started/with-symfony.rst
  tests/convention/Documentation/DocFile.php
  tests/convention/Documentation/DocLink.php
  tests/convention/Documentation/DocumentationLinksTest.php
  tests/convention/Documentation/Markdown.php
  tests/convention/Documentation/Sphinx.php
Labels: none

Changed README link to documentation with readthedocs.io
  README.md
Labels: none

Changed README link to documentation with readthedocs.io (#129)
  README.md
Labels: none

Changed page titles for one line menu items
  docs/docs/tutorials/example-before-after.rst
  docs/docs/tutorials/first-job.rst
Labels: none

Fixed gitsplit tag detection
  .gitsplit.yml
Labels: none

Fixed yokai/batch cross packages version requirements
  src/batch-doctrine-dbal/composer.json
  src/batch-doctrine-orm/composer.json
  src/batch-doctrine-persistence/composer.json
  src/batch-league-flysystem/composer.json
  src/batch-openspout/composer.json
  src/batch-symfony-console/composer.json
  src/batch-symfony-framework/composer.json
  src/batch-symfony-messenger/composer.json
  src/batch-symfony-pack/composer.json
  src/batch-symfony-serializer/composer.json
  src/batch-symfony-validator/composer.json
Labels: yokai/batch-doctrine-dbal, yokai/batch-doctrine-orm, yokai/batch-doctrine-persistence, yokai/batch-league-flysystem, yokai/batch-openspout, yokai/batch-symfony-console, yokai/batch-symfony-framework, yokai/batch-symfony-messenger, yokai/batch-symfony-pack, yokai/batch-symfony-serializer, yokai/batch-symfony-validator

Add missing "page-link" class on Bootstrap 4 pagination links
  src/batch-symfony-framework/src/Resources/views/bootstrap4/list.html.twig
Labels: yokai/batch-symfony-framework

Add missing "page-link" class on Bootstrap 4 pagination links (#130)
  src/batch-symfony-framework/src/Resources/views/bootstrap4/list.html.twig
Labels: yokai/batch-symfony-framework

Fixed JobExecutionLogger PHPStan error
  src/batch/src/JobExecutionLogger.php
Labels: yokai/batch

Fixed JobExecutionLogger PHPStan error (#132)
  src/batch/src/JobExecutionLogger.php
Labels: yokai/batch

Add missing "active" class on Sonata breadcrumbs last element
  src/batch-symfony-framework/src/Resources/views/sonata/list.html.twig
  src/batch-symfony-framework/src/Resources/views/sonata/show.html.twig
Labels: yokai/batch-symfony-framework

Add missing "active" class on Sonata breadcrumbs last element (#131)
  src/batch-symfony-framework/src/Resources/views/sonata/list.html.twig
  src/batch-symfony-framework/src/Resources/views/sonata/show.html.twig
Labels: yokai/batch-symfony-framework

Ignore .github & phpunit.xml for git export
  src/batch-doctrine-dbal/.gitattributes
  src/batch-doctrine-orm/.gitattributes
  src/batch-doctrine-persistence/.gitattributes
  src/batch-league-flysystem/.gitattributes
  src/batch-openspout/.gitattributes
  src/batch-symfony-console/.gitattributes
  src/batch-symfony-framework/.gitattributes
  src/batch-symfony-messenger/.gitattributes
  src/batch-symfony-pack/.gitattributes
  src/batch-symfony-serializer/.gitattributes
  src/batch-symfony-validator/.gitattributes
  src/batch/.gitattributes
Labels: yokai/batch, yokai/batch-doctrine-dbal, yokai/batch-doctrine-orm, yokai/batch-doctrine-persistence, yokai/batch-league-flysystem, yokai/batch-openspout, yokai/batch-symfony-console, yokai/batch-symfony-framework, yokai/batch-symfony-messenger, yokai/batch-symfony-pack, yokai/batch-symfony-serializer, yokai/batch-symfony-validator

Ignore .github & phpunit.xml for git export (#133)
  src/batch-doctrine-dbal/.gitattributes
  src/batch-doctrine-orm/.gitattributes
  src/batch-doctrine-persistence/.gitattributes
  src/batch-league-flysystem/.gitattributes
  src/batch-openspout/.gitattributes
  src/batch-symfony-console/.gitattributes
  src/batch-symfony-framework/.gitattributes
  src/batch-symfony-messenger/.gitattributes
  src/batch-symfony-pack/.gitattributes
  src/batch-symfony-serializer/.gitattributes
  src/batch-symfony-validator/.gitattributes
  src/batch/.gitattributes
Labels: yokai/batch, yokai/batch-doctrine-dbal, yokai/batch-doctrine-orm, yokai/batch-doctrine-persistence, yokai/batch-league-flysystem, yokai/batch-openspout, yokai/batch-symfony-console, yokai/batch-symfony-framework, yokai/batch-symfony-messenger, yokai/batch-symfony-pack, yokai/batch-symfony-serializer, yokai/batch-symfony-validator

Fixed tests ids notation
  src/batch-doctrine-dbal/tests/DoctrineDBALJobExecutionStorageTest.php
Labels: yokai/batch-doctrine-dbal

Add where clause for date fields not null
  src/batch-doctrine-dbal/src/DoctrineDBALJobExecutionStorage.php
Labels: yokai/batch-doctrine-dbal

Fixed query dates test sets
  src/batch-doctrine-dbal/tests/DoctrineDBALJobExecutionStorageTest.php
Labels: yokai/batch-doctrine-dbal

Add ability to query JobExecution in start/end time ranges
  src/batch-doctrine-dbal/src/DoctrineDBALJobExecutionStorage.php
  src/batch-doctrine-dbal/tests/DoctrineDBALJobExecutionStorageTest.php
  src/batch/src/Storage/FilesystemJobExecutionStorage.php
  src/batch/src/Storage/Query.php
  src/batch/src/Storage/QueryBuilder.php
  src/batch/src/Storage/TimeFilter.php
  src/batch/tests/Storage/FilesystemJobExecutionStorageTest.php
  src/batch/tests/Storage/QueryBuilderTest.php
Labels: yokai/batch, yokai/batch-doctrine-dbal

Add missing typehint to date query filters
  src/batch-doctrine-dbal/src/DoctrineDBALJobExecutionStorage.php
Labels: yokai/batch-doctrine-dbal

Fixed checkstyle with named parameters
  src/batch/tests/Storage/QueryBuilderTest.php
Labels: yokai/batch

Fixed Doctrine DBAL storage tests with start time boundaries
  src/batch-doctrine-dbal/tests/DoctrineDBALJobExecutionStorageTest.php
Labels: yokai/batch-doctrine-dbal

Ensure TimeFilter boundaries are correct
  src/batch/src/Storage/TimeFilter.php
  src/batch/tests/Storage/QueryBuilderTest.php
Labels: yokai/batch

Fixed Doctrine DBAL storage tests
  src/batch-doctrine-dbal/tests/DoctrineDBALJobExecutionStorageTest.php
Labels: yokai/batch-doctrine-dbal

Fixed checkstyle
  src/batch/tests/Storage/QueryBuilderTest.php
Labels: yokai/batch

Fixed Doctrine DBAL storage tests
  src/batch-doctrine-dbal/tests/DoctrineDBALJobExecutionStorageTest.php
Labels: yokai/batch-doctrine-dbal

Fix codecov upload
  .github/workflows/tests.yml
Labels: none

Add ability to query JobExecution in start/end time ranges (#87)
  .github/workflows/tests.yml
  src/batch-doctrine-dbal/src/DoctrineDBALJobExecutionStorage.php
  src/batch-doctrine-dbal/tests/DoctrineDBALJobExecutionStorageTest.php
  src/batch/src/Storage/FilesystemJobExecutionStorage.php
  src/batch/src/Storage/Query.php
  src/batch/src/Storage/QueryBuilder.php
  src/batch/src/Storage/TimeFilter.php
  src/batch/tests/Storage/FilesystemJobExecutionStorageTest.php
  src/batch/tests/Storage/QueryBuilderTest.php
Labels: yokai/batch, yokai/batch-doctrine-dbal

Add a component to build JobParameters defaults at contruction time
  src/batch-symfony-console/tests/RunCommandJobLauncherTest.php
  src/batch-symfony-console/tests/RunJobCommandTest.php
  src/batch-symfony-framework/src/Resources/services/global/alias.xml
  src/batch-symfony-framework/src/Resources/services/global/core.xml
  src/batch-symfony-messenger/tests/DispatchMessageJobLauncherTest.php
  src/batch-symfony-messenger/tests/LaunchJobMessageHandlerTest.php
  src/batch/src/Factory/JobExecutionFactory.php
  src/batch/src/Factory/JobExecutionParametersBuilder/ChainJobExecutionParametersBuilder.php
  src/batch/src/Factory/JobExecutionParametersBuilder/NullJobExecutionParametersBuilder.php
  src/batch/src/Factory/JobExecutionParametersBuilder/PerJobJobExecutionParametersBuilder.php
  src/batch/src/Factory/JobExecutionParametersBuilder/StaticJobExecutionParametersBuilder.php
  src/batch/src/Factory/JobExecutionParametersBuilderInterface.php
  src/batch/tests/Factory/JobExecutionFactoryTest.php
  src/batch/tests/Factory/JobExecutionParametersBuilder/ChainJobExecutionParametersBuilderTest.php
  src/batch/tests/Factory/JobExecutionParametersBuilder/NullJobExecutionParametersBuilderTest.php
  src/batch/tests/Factory/JobExecutionParametersBuilder/PerJobJobExecutionParametersBuilderTest.php
  src/batch/tests/Factory/JobExecutionParametersBuilder/StaticJobExecutionParametersBuilderTest.php
  src/batch/tests/Job/JobExecutionAccessorTest.php
  src/batch/tests/Launcher/SimpleJobLauncherTest.php
  tests/integration/JobTestCase.php
Labels: yokai/batch, yokai/batch-symfony-console, yokai/batch-symfony-framework, yokai/batch-symfony-messenger

wip
  src/batch-symfony-framework/src/DependencyInjection/Configuration.php
  src/batch-symfony-framework/src/DependencyInjection/YokaiBatchExtension.php
Labels: yokai/batch-symfony-framework

Fixed symfony configuration structure
  src/batch-symfony-framework/src/DependencyInjection/Configuration.php
Labels: yokai/batch-symfony-framework

Add tests for Job configuration
  src/batch-symfony-framework/src/DependencyInjection/Configuration.php
  src/batch-symfony-framework/tests/DependencyInjection/YokaiBatchExtensionTest.php
Labels: yokai/batch-symfony-framework

Fix checkstyle
  src/batch-symfony-framework/tests/DependencyInjection/YokaiBatchExtensionTest.php
Labels: yokai/batch-symfony-framework

Add a component to build JobParameters defaults at contruction time (#123)
  src/batch-symfony-console/tests/RunCommandJobLauncherTest.php
  src/batch-symfony-console/tests/RunJobCommandTest.php
  src/batch-symfony-framework/src/DependencyInjection/Configuration.php
  src/batch-symfony-framework/src/DependencyInjection/YokaiBatchExtension.php
  src/batch-symfony-framework/src/Resources/services/global/alias.xml
  src/batch-symfony-framework/src/Resources/services/global/core.xml
  src/batch-symfony-framework/tests/DependencyInjection/YokaiBatchExtensionTest.php
  src/batch-symfony-messenger/tests/DispatchMessageJobLauncherTest.php
  src/batch-symfony-messenger/tests/LaunchJobMessageHandlerTest.php
  src/batch/src/Factory/JobExecutionFactory.php
  src/batch/src/Factory/JobExecutionParametersBuilder/ChainJobExecutionParametersBuilder.php
  src/batch/src/Factory/JobExecutionParametersBuilder/NullJobExecutionParametersBuilder.php
  src/batch/src/Factory/JobExecutionParametersBuilder/PerJobJobExecutionParametersBuilder.php
  src/batch/src/Factory/JobExecutionParametersBuilder/StaticJobExecutionParametersBuilder.php
  src/batch/src/Factory/JobExecutionParametersBuilderInterface.php
  src/batch/tests/Factory/JobExecutionFactoryTest.php
  src/batch/tests/Factory/JobExecutionParametersBuilder/ChainJobExecutionParametersBuilderTest.php
  src/batch/tests/Factory/JobExecutionParametersBuilder/NullJobExecutionParametersBuilderTest.php
  src/batch/tests/Factory/JobExecutionParametersBuilder/PerJobJobExecutionParametersBuilderTest.php
  src/batch/tests/Factory/JobExecutionParametersBuilder/StaticJobExecutionParametersBuilderTest.php
  src/batch/tests/Job/JobExecutionAccessorTest.php
  src/batch/tests/Launcher/SimpleJobLauncherTest.php
  tests/integration/JobTestCase.php
Labels: yokai/batch, yokai/batch-symfony-console, yokai/batch-symfony-framework, yokai/batch-symfony-messenger

Fixed checking Symfony custom services from bundle config
  src/batch-symfony-framework/src/DependencyInjection/CompilerPass/ConfigureLauncherPass.php
  src/batch-symfony-framework/src/DependencyInjection/CompilerPass/ConfigureStoragePass.php
  src/batch-symfony-framework/src/DependencyInjection/CompilerPass/ConfigureTemplatingPass.php
  src/batch-symfony-framework/src/DependencyInjection/JobLauncherDefinitionFactory.php
  src/batch-symfony-framework/src/DependencyInjection/YokaiBatchExtension.php
  src/batch-symfony-framework/src/YokaiBatchBundle.php
  src/batch-symfony-framework/tests/DependencyInjection/CompilerPass/ConfigureLauncherPassTest.php
  src/batch-symfony-framework/tests/DependencyInjection/CompilerPass/ConfigureStoragePassTest.php
  src/batch-symfony-framework/tests/DependencyInjection/CompilerPass/ConfigureTemplatingPassTest.php
  src/batch-symfony-framework/tests/DependencyInjection/CompilerPass/RegisterJobsCompilerPassTest.php
  src/batch-symfony-framework/tests/DependencyInjection/YokaiBatchExtensionTest.php
  src/batch-symfony-framework/tests/YokaiBatchBundleTest.php
Labels: yokai/batch-symfony-framework

Add missing comments for introduced compiler passes
  src/batch-symfony-framework/src/DependencyInjection/CompilerPass/ConfigureLauncherPass.php
  src/batch-symfony-framework/src/DependencyInjection/CompilerPass/ConfigureStoragePass.php
  src/batch-symfony-framework/src/DependencyInjection/CompilerPass/ConfigureTemplatingPass.php
Labels: yokai/batch-symfony-framework

Fixed missing compiler pass in bundle test
  src/batch-symfony-framework/tests/YokaiBatchBundleTest.php
Labels: yokai/batch-symfony-framework

.github/labeler.yml:

# https://github.com/actions/labeler
'yokai/batch':
  - 'src/batch/**'
'yokai/batch-doctrine-dbal':
  - 'src/batch-doctrine-dbal/**'
'yokai/batch-doctrine-orm':
  - 'src/batch-doctrine-orm/**'
'yokai/batch-doctrine-persistence':
  - 'src/batch-doctrine-persistence/**'
'yokai/batch-league-flysystem':
  - 'src/batch-league-flysystem/**'
'yokai/batch-openspout':
  - 'src/batch-openspout/**'
'yokai/batch-symfony-console':
  - 'src/batch-symfony-console/**'
'yokai/batch-symfony-framework':
  - 'src/batch-symfony-framework/**'
'yokai/batch-symfony-messenger':
  - 'src/batch-symfony-messenger/**'
'yokai/batch-symfony-pack':
  - 'src/batch-symfony-pack/**'
'yokai/batch-symfony-serializer':
  - 'src/batch-symfony-serializer/**'
'yokai/batch-symfony-validator':
  - 'src/batch-symfony-validator/**'
