Repository yokai-php/batch-src, changes with the labels that .github/labeler.yml gives for each.
All labels: yokai/batch, yokai/batch-doctrine-dbal, yokai/batch-doctrine-orm, yokai/batch-doctrine-persistence, yokai/batch-league-flysystem, yokai/batch-openspout, yokai/batch-symfony-console, yokai/batch-symfony-framework, yokai/batch-symfony-messenger, yokai/batch-symfony-pack, yokai/batch-symfony-serializer, yokai/batch-symfony-validator

feature #98 Total count JobExecution matched by query
  src/batch-doctrine-dbal/src/DoctrineDBALJobExecutionStorage.php
  src/batch-doctrine-dbal/tests/DoctrineDBALJobExecutionStorageTest.php
  src/batch/src/Storage/FilesystemJobExecutionStorage.php
  src/batch/src/Storage/QueryableJobExecutionStorageInterface.php
  src/batch/tests/Storage/FilesystemJobExecutionStorageTest.php
Labels: yokai/batch, yokai/batch-doctrine-dbal

#98 fix unit test
  src/batch-doctrine-dbal/tests/DoctrineDBALJobExecutionStorageTest.php
  src/batch/tests/Storage/FilesystemJobExecutionStorageTest.php
Labels: yokai/batch, yokai/batch-doctrine-dbal

#98 fix phpstan
  src/batch-doctrine-dbal/src/DoctrineDBALJobExecutionStorage.php
Labels: yokai/batch-doctrine-dbal

Rebase branch
  src/batch-doctrine-dbal/src/DoctrineDBALJobExecutionStorage.php
  src/batch/tests/Storage/FilesystemJobExecutionStorageTest.php
Labels: yokai/batch, yokai/batch-doctrine-dbal

Allow fetching total count JobExecution matched by query (#117)
  src/batch-doctrine-dbal/src/DoctrineDBALJobExecutionStorage.php
  src/batch-doctrine-dbal/tests/DoctrineDBALJobExecutionStorageTest.php
  src/batch/src/Storage/FilesystemJobExecutionStorage.php
  src/batch/src/Storage/QueryableJobExecutionStorageInterface.php
  src/batch/tests/Storage/FilesystemJobExecutionStorageTest.php
Labels: yokai/batch, yokai/batch-doctrine-dbal

Fixed wrong doc links in packages README files
  docs/docs/bridges/symfony-serializer.rst
  src/batch-doctrine-dbal/README.md
  src/batch-doctrine-orm/README.md
  src/batch-doctrine-persistence/README.md
  src/batch-league-flysystem/README.md
  src/batch-openspout/README.md
  src/batch-symfony-console/README.md
  src/batch-symfony-framework/README.md
  src/batch-symfony-messenger/README.md
  src/batch-symfony-serializer/README.md
  src/batch-symfony-validator/README.md
  src/batch/README.md
Labels: yokai/batch, yokai/batch-doctrine-dbal, yokai/batch-doctrine-orm, yokai/batch-doctrine-persistence, yokai/batch-league-flysystem, yokai/batch-openspout, yokai/batch-symfony-console, yokai/batch-symfony-framework, yokai/batch-symfony-messenger, yokai/batch-symfony-serializer, yokai/batch-symfony-validator

Add lockdown to documentation repository
  docs/.github/workflows/lockdown.yml
Labels: none

Introduce symfony/uid bridge to generate JobExecution ids
  composer.json
  docs/docs/bridges/symfony-uid.rst
  src/batch-symfony-uid/.gitattributes
  src/batch-symfony-uid/.github/workflows/lockdown.yml
  src/batch-symfony-uid/.gitignore
  src/batch-symfony-uid/LICENSE
  src/batch-symfony-uid/README.md
  src/batch-symfony-uid/composer.json
  src/batch-symfony-uid/phpunit.xml
  src/batch-symfony-uid/src/Factory/RandomBasedUuidJobExecutionIdGenerator.php
  src/batch-symfony-uid/src/Factory/TimeBasedUuidJobExecutionIdGenerator.php
  src/batch-symfony-uid/src/Factory/UlidJobExecutionIdGenerator.php
  src/batch-symfony-uid/tests/Factory/RandomBasedUuidJobExecutionIdGeneratorTest.php
  src/batch-symfony-uid/tests/Factory/TimeBasedUuidJobExecutionIdGeneratorTest.php
  src/batch-symfony-uid/tests/Factory/UlidJobExecutionIdGeneratorTest.php
Labels: none

Configure job execution id generator in Symfony app
  src/batch-symfony-framework/src/DependencyInjection/Configuration.php
  src/batch-symfony-framework/src/DependencyInjection/JobExecutionIdGeneratorDefinitionFactory.php
  src/batch-symfony-framework/src/DependencyInjection/YokaiBatchExtension.php
  src/batch-symfony-framework/src/Resources/services/global/alias.xml
  src/batch-symfony-framework/src/Resources/services/global/core.xml
  src/batch-symfony-framework/tests/DependencyInjection/YokaiBatchExtensionTest.php
Labels: yokai/batch-symfony-framework

.github/labeler.yml:

# https://github.com/actions/labeler
'yokai/batch':
  - 'src/batch/**'
'yokai/batch-doctrine-dbal':
  - 'src/batch-doctrine-dbal/**'
'yokai/batch-doctrine-orm':
  - 'src/batch-doctrine-orm/**'
'yokai/batch-doctrine-persistence':
  - 'src/batch-doctrine-persistence/**'
'yokai/batch-league-flysystem':
  - 'src/batch-league-flysystem/**'
'yokai/batch-openspout':
  - 'src/batch-openspout/**'
'yokai/batch-symfony-console':
  - 'src/batch-symfony-console/**'
'yokai/batch-symfony-framework':
  - 'src/batch-symfony-framework/**'
'yokai/batch-symfony-messenger':
  - 'src/batch-symfony-messenger/**'
'yokai/batch-symfony-pack':
  - 'src/batch-symfony-pack/**'
'yokai/batch-symfony-serializer':
  - 'src/batch-symfony-serializer/**'
'yokai/batch-symfony-validator':
  - 'src/batch-symfony-validator/**'
