Repository yokai-php/batch-src, changes with the labels that .github/labeler.yml gives for each.
All labels: yokai/batch, yokai/batch-doctrine-dbal, yokai/batch-doctrine-orm, yokai/batch-doctrine-persistence, yokai/batch-league-flysystem, yokai/batch-openspout, yokai/batch-symfony-console, yokai/batch-symfony-framework, yokai/batch-symfony-messenger, yokai/batch-symfony-pack, yokai/batch-symfony-serializer, yokai/batch-symfony-validator

Enforce maximum line length
  ecs.php
  src/batch-doctrine-persistence/tests/Dummy/DecoratedRepositoryFactory.php
  src/batch-doctrine-persistence/tests/ObjectRegistryTest.php
  src/batch-symfony-framework/tests/DependencyInjection/YokaiBatchExtensionTest.php
  src/batch-symfony-framework/tests/UserInterface/Controller/JobControllerTest.php
  src/batch-symfony-serializer/tests/Dummy/DummyNormalizer.php
  src/batch-symfony-serializer/tests/Dummy/FailingNormalizer.php
  tests/symfony/tests/UserInterfaceTest.php
Labels: yokai/batch-doctrine-persistence, yokai/batch-symfony-framework, yokai/batch-symfony-serializer

Forbid yoda style condition
  ecs.php
  src/batch-openspout/tests/bootstrap.php
  src/batch/src/Job/Item/ItemJob.php
  src/batch/src/Storage/FilesystemJobExecutionStorage.php
  src/batch/tests/bootstrap.php
Labels: yokai/batch, yokai/batch-openspout

#88 add helper method to log error without adding failure
  src/batch/src/JobExecution.php
  tests/convention/Job/LoggerTest.php
Labels: yokai/batch

feature #90 add global logger service that logs in job
  src/batch-symfony-framework/composer.json
  src/batch-symfony-framework/docs/getting-started.md
  src/batch-symfony-framework/src/DependencyInjection/YokaiBatchExtension.php
  src/batch-symfony-framework/src/Resources/services/global/logger.xml
  src/batch/src/Logger/BatchLogger.php
  src/batch/tests/Logger/BatchLoggerTest.php
  tests/symfony/src/Job/Country/CountryJob.php
  tests/symfony/tests/CountryJobSet.php
Labels: yokai/batch, yokai/batch-symfony-framework

feature #98 Total count JobExecution matched by query
  src/batch-doctrine-dbal/src/DoctrineDBALJobExecutionStorage.php
  src/batch-doctrine-dbal/tests/DoctrineDBALJobExecutionStorageTest.php
  src/batch/src/Storage/FilesystemJobExecutionStorage.php
  src/batch/src/Storage/QueryableJobExecutionStorageInterface.php
  src/batch/tests/Storage/FilesystemJobExecutionStorageTest.php
Labels: yokai/batch, yokai/batch-doctrine-dbal

#88 code review
  tests/convention/Job/LoggerTest.php
Labels: none

#90 code review - update documentation & psr/log required version
  src/batch-symfony-framework/docs/getting-started.md
Labels: yokai/batch-symfony-framework

feature #90 - Add global logger service that logs in JobExecution (#116)
  src/batch-symfony-framework/composer.json
  src/batch-symfony-framework/docs/getting-started.md
  src/batch-symfony-framework/src/DependencyInjection/YokaiBatchExtension.php
  src/batch-symfony-framework/src/Resources/services/global/logger.xml
  src/batch/src/Logger/BatchLogger.php
  src/batch/tests/Logger/BatchLoggerTest.php
  tests/symfony/src/Job/Country/CountryJob.php
  tests/symfony/tests/CountryJobSet.php
Labels: yokai/batch, yokai/batch-symfony-framework

#98 fix phpstan
  src/batch-doctrine-dbal/src/DoctrineDBALJobExecutionStorage.php
Labels: yokai/batch-doctrine-dbal

#88 move LoggerTest in the right directory
  src/batch/tests/Job/LoggerTest.php
Labels: yokai/batch

Add helper method to log error without adding failure (#114)
  src/batch/src/JobExecution.php
  src/batch/tests/Job/LoggerTest.php
Labels: yokai/batch

#98 fix unit test
  src/batch-doctrine-dbal/tests/DoctrineDBALJobExecutionStorageTest.php
  src/batch/tests/Storage/FilesystemJobExecutionStorageTest.php
Labels: yokai/batch, yokai/batch-doctrine-dbal

Add a handy CallbackReader to read from Closure
  src/batch/docs/domain/item-job/item-reader.md
  src/batch/src/Job/Item/Reader/CallbackReader.php
  src/batch/tests/Job/Item/Reader/CallbackReaderTest.php
Labels: yokai/batch

Add class comment to CallbackReader
  src/batch/src/Job/Item/Reader/CallbackReader.php
Labels: yokai/batch

Add a handy CallbackWriter to write with a Closure
  src/batch/docs/domain/item-job/item-writer.md
  src/batch/src/Job/Item/Writer/CallbackWriter.php
  src/batch/tests/Job/Item/Writer/CallbackWriterTest.php
Labels: yokai/batch

Fixed docker-compose base path
  docker-compose.yml
Labels: none

Fixed missing comment on CallbackWriter
  src/batch/src/Job/Item/Writer/CallbackWriter.php
Labels: yokai/batch

Allow configuration of job launcher with Symfony configuration
  src/batch-symfony-framework/docs/getting-started.md
  src/batch-symfony-framework/src/DependencyInjection/Configuration.php
  src/batch-symfony-framework/src/DependencyInjection/YokaiBatchExtension.php
  src/batch-symfony-framework/src/Resources/services/global/launcher.xml
  src/batch-symfony-framework/src/Resources/services/symfony/console/launcher.xml
  src/batch-symfony-framework/src/Resources/services/symfony/console/util.xml
  src/batch-symfony-framework/src/Resources/services/symfony/messenger/launcher.xml
  src/batch-symfony-framework/tests/DependencyInjection/YokaiBatchExtensionTest.php
  tests/symfony/src/Kernel.php
  tests/symfony/tests/JobTest.php
  tests/symfony/tests/UserInterfaceTest.php
Labels: yokai/batch-symfony-framework

Fixed code style
  src/batch-symfony-framework/tests/DependencyInjection/YokaiBatchExtensionTest.php
Labels: yokai/batch-symfony-framework

Fixed static analysis and extract job launcher definition factory
  src/batch-symfony-framework/src/DependencyInjection/JobLauncherDefinitionFactory.php
  src/batch-symfony-framework/src/DependencyInjection/YokaiBatchExtension.php
Labels: yokai/batch-symfony-framework

Add symfony/messenger as suggested dependency of yokai/batch-symfony-framework
  src/batch-symfony-framework/composer.json
Labels: yokai/batch-symfony-framework

Add a handy CallbackReader to read from Closure (#119)
  src/batch/docs/domain/item-job/item-reader.md
  src/batch/src/Job/Item/Reader/CallbackReader.php
  src/batch/tests/Job/Item/Reader/CallbackReaderTest.php
Labels: yokai/batch

Add a handy CallbackWriter to write with a Closure (#120)
  src/batch/docs/domain/item-job/item-writer.md
  src/batch/src/Job/Item/Writer/CallbackWriter.php
  src/batch/tests/Job/Item/Writer/CallbackWriterTest.php
Labels: yokai/batch

Added documentation about job launcher DSN
  src/batch-symfony-framework/docs/getting-started.md
Labels: yokai/batch-symfony-framework

Allow configuration of job launcher with Symfony configuration (#121)
  src/batch-symfony-framework/composer.json
  src/batch-symfony-framework/docs/getting-started.md
  src/batch-symfony-framework/src/DependencyInjection/Configuration.php
  src/batch-symfony-framework/src/DependencyInjection/JobLauncherDefinitionFactory.php
  src/batch-symfony-framework/src/DependencyInjection/YokaiBatchExtension.php
  src/batch-symfony-framework/src/Resources/services/global/launcher.xml
  src/batch-symfony-framework/src/Resources/services/symfony/console/launcher.xml
  src/batch-symfony-framework/src/Resources/services/symfony/console/util.xml
  src/batch-symfony-framework/src/Resources/services/symfony/messenger/launcher.xml
  src/batch-symfony-framework/tests/DependencyInjection/YokaiBatchExtensionTest.php
  tests/symfony/src/Kernel.php
  tests/symfony/tests/JobTest.php
  tests/symfony/tests/UserInterfaceTest.php
Labels: yokai/batch-symfony-framework

Bridge readme update
  src/batch-doctrine-dbal/README.md
  src/batch-doctrine-orm/README.md
  src/batch-doctrine-persistence/README.md
  src/batch-league-flysystem/README.md
  src/batch-openspout/README.md
  src/batch-symfony-console/README.md
  src/batch-symfony-framework/README.md
  src/batch-symfony-messenger/README.md
  src/batch-symfony-serializer/README.md
  src/batch-symfony-validator/README.md
  src/batch/README.md
Labels: yokai/batch, yokai/batch-doctrine-dbal, yokai/batch-doctrine-orm, yokai/batch-doctrine-persistence, yokai/batch-league-flysystem, yokai/batch-openspout, yokai/batch-symfony-console, yokai/batch-symfony-framework, yokai/batch-symfony-messenger, yokai/batch-symfony-serializer, yokai/batch-symfony-validator

Fixed links to doc in packages README (#125)
  src/batch-doctrine-dbal/README.md
  src/batch-doctrine-orm/README.md
  src/batch-doctrine-persistence/README.md
  src/batch-league-flysystem/README.md
  src/batch-openspout/README.md
  src/batch-symfony-console/README.md
  src/batch-symfony-framework/README.md
  src/batch-symfony-messenger/README.md
  src/batch-symfony-serializer/README.md
  src/batch-symfony-validator/README.md
  src/batch/README.md
Labels: yokai/batch, yokai/batch-doctrine-dbal, yokai/batch-doctrine-orm, yokai/batch-doctrine-persistence, yokai/batch-league-flysystem, yokai/batch-openspout, yokai/batch-symfony-console, yokai/batch-symfony-framework, yokai/batch-symfony-messenger, yokai/batch-symfony-serializer, yokai/batch-symfony-validator

Entry point of Readme purpose
  docs/README.md
Labels: none

add readme for next steps
  docs/README.md
  docs/doctrine.md
  docs/flysystem.md
  docs/openspout.md
  docs/symfony.md
Labels: none

-mv2 of readme ?
  docs/README.md
  docs/getting-started.md
Labels: none

simplify Readme.md
  docs/README.md
Labels: none

remove header of Readme
  docs/README.md
Labels: none

docs/readmeV2
  README.md
  docs/README_old.md
Labels: none

another version of readme
  docs/README.md
Labels: none

fix docs/readme
  docs/README.md
Labels: none

Replace local split scripts with a Github action
  .github/workflows/split.yaml
  .gitsplit.yml
  scripts/split-branch
  scripts/split-tag
  scripts/splitsh-lite
Labels: none

Fixed copy/paste repository name
  .github/workflows/split.yaml
Labels: none

Replace local split scripts with a Github action (#127)
  .github/workflows/split.yaml
  .gitsplit.yml
  scripts/split-branch
  scripts/split-tag
  scripts/splitsh-lite
Labels: none

Fixed wrong default branch
  .github/workflows/split.yaml
Labels: none

Fixed gitsplit path errors
  .gitsplit.yml
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler
'yokai/batch':
  - 'src/batch/**'
'yokai/batch-doctrine-dbal':
  - 'src/batch-doctrine-dbal/**'
'yokai/batch-doctrine-orm':
  - 'src/batch-doctrine-orm/**'
'yokai/batch-doctrine-persistence':
  - 'src/batch-doctrine-persistence/**'
'yokai/batch-league-flysystem':
  - 'src/batch-league-flysystem/**'
'yokai/batch-openspout':
  - 'src/batch-openspout/**'
'yokai/batch-symfony-console':
  - 'src/batch-symfony-console/**'
'yokai/batch-symfony-framework':
  - 'src/batch-symfony-framework/**'
'yokai/batch-symfony-messenger':
  - 'src/batch-symfony-messenger/**'
'yokai/batch-symfony-pack':
  - 'src/batch-symfony-pack/**'
'yokai/batch-symfony-serializer':
  - 'src/batch-symfony-serializer/**'
'yokai/batch-symfony-validator':
  - 'src/batch-symfony-validator/**'
