Repository yokai-php/batch-src, pull requests merged in 2025-01, with the labels that each got.

#87 Add ability to query JobExecution in start/end time ranges
  .github/workflows/tests.yml
  src/batch-doctrine-dbal/src/DoctrineDBALJobExecutionStorage.php
  src/batch-doctrine-dbal/tests/DoctrineDBALJobExecutionStorageTest.php
  src/batch/src/Storage/FilesystemJobExecutionStorage.php
  src/batch/src/Storage/Query.php
  src/batch/src/Storage/QueryBuilder.php
  src/batch/src/Storage/TimeFilter.php
  src/batch/tests/Storage/FilesystemJobExecutionStorageTest.php
  src/batch/tests/Storage/QueryBuilderTest.php
Labels: yokai/batch, yokai/batch-doctrine-dbal

#117 Allow fetching total count JobExecution matched by query
  src/batch-doctrine-dbal/src/DoctrineDBALJobExecutionStorage.php
  src/batch-doctrine-dbal/tests/DoctrineDBALJobExecutionStorageTest.php
  src/batch/src/Storage/FilesystemJobExecutionStorage.php
  src/batch/src/Storage/QueryableJobExecutionStorageInterface.php
  src/batch/tests/Storage/FilesystemJobExecutionStorageTest.php
Labels: yokai/batch, yokai/batch-doctrine-dbal

#136 Fixed wrong doc links in packages README files
  docs/docs/bridges/symfony-serializer.rst
  src/batch-doctrine-dbal/README.md
  src/batch-doctrine-orm/README.md
  src/batch-doctrine-persistence/README.md
  src/batch-league-flysystem/README.md
  src/batch-openspout/README.md
  src/batch-symfony-console/README.md
  src/batch-symfony-framework/README.md
  src/batch-symfony-messenger/README.md
  src/batch-symfony-serializer/README.md
  src/batch-symfony-validator/README.md
  src/batch/README.md
Labels: yokai/batch, yokai/batch-doctrine-dbal, yokai/batch-doctrine-orm, yokai/batch-doctrine-persistence, yokai/batch-league-flysystem, yokai/batch-symfony-console, yokai/batch-symfony-framework, yokai/batch-symfony-messenger, yokai/batch-symfony-serializer, yokai/batch-symfony-validator, yokai/batch-openspout

#134 Fixed checking Symfony custom services from bundle config
  src/batch-symfony-framework/src/DependencyInjection/CompilerPass/ConfigureLauncherPass.php
  src/batch-symfony-framework/src/DependencyInjection/CompilerPass/ConfigureStoragePass.php
  src/batch-symfony-framework/src/DependencyInjection/CompilerPass/ConfigureTemplatingPass.php
  src/batch-symfony-framework/src/DependencyInjection/JobLauncherDefinitionFactory.php
  src/batch-symfony-framework/src/DependencyInjection/YokaiBatchExtension.php
  src/batch-symfony-framework/src/YokaiBatchBundle.php
  src/batch-symfony-framework/tests/DependencyInjection/CompilerPass/ConfigureLauncherPassTest.php
  src/batch-symfony-framework/tests/DependencyInjection/CompilerPass/ConfigureStoragePassTest.php
  src/batch-symfony-framework/tests/DependencyInjection/CompilerPass/ConfigureTemplatingPassTest.php
  src/batch-symfony-framework/tests/DependencyInjection/CompilerPass/RegisterJobsCompilerPassTest.php
  src/batch-symfony-framework/tests/DependencyInjection/YokaiBatchExtensionTest.php
  src/batch-symfony-framework/tests/YokaiBatchBundleTest.php
Labels: yokai/batch-symfony-framework

#135 Get rid of unecessary phpstan prefix in some annotations
  src/batch-doctrine-dbal/src/DoctrineDBALJobExecutionStorage.php
  src/batch-doctrine-dbal/src/DoctrineDBALQueryCursorReader.php
  src/batch-doctrine-dbal/src/DoctrineDBALQueryOffsetReader.php
  src/batch-doctrine-dbal/src/DoctrineDBALUpsert.php
  src/batch-doctrine-dbal/src/JobExecutionRowNormalizer.php
  src/batch-symfony-console/src/CommandRunner.php
  src/batch-symfony-console/src/RunJobCommand.php
  src/batch-symfony-framework/src/DependencyInjection/CompilerPass/RegisterJobsCompilerPass.php
  src/batch-symfony-framework/src/DependencyInjection/YokaiBatchExtension.php
  src/batch-symfony-messenger/src/LaunchJobMessage.php
  src/batch-symfony-serializer/src/DenormalizeItemProcessor.php
  src/batch-symfony-serializer/src/NormalizeItemProcessor.php
  src/batch-symfony-validator/src/SkipInvalidItemProcessor.php
  src/batch-symfony-validator/src/SkipItemOnViolations.php
  src/batch/src/Factory/JobExecutionFactory.php
  src/batch/src/Failure.php
  src/batch/src/Finder/CallbackFinder.php
  src/batch/src/Finder/ClassMapFinder.php
  src/batch/src/Finder/FinderInterface.php
  src/batch/src/Job/Item/AbstractElementDecorator.php
  src/batch/src/Job/Item/Exception/SkipItemException.php
  src/batch/src/Job/Item/ExpandProcessedItem.php
  src/batch/src/Job/Item/ItemJob.php
  src/batch/src/Job/Item/ItemReaderInterface.php
  src/batch/src/Job/Item/ItemWriterInterface.php
  src/batch/src/Job/Item/Processor/ArrayMapProcessor.php
  src/batch/src/Job/Item/Processor/FilterUniqueProcessor.php
  src/batch/src/Job/Item/Processor/RoutingProcessor.php
  src/batch/src/Job/Item/Reader/AddMetadataReader.php
  src/batch/src/Job/Item/Reader/Filesystem/FixedColumnSizeFileReader.php
  src/batch/src/Job/Item/Reader/Filesystem/JsonLinesReader.php
  src/batch/src/Job/Item/Reader/StaticIterableReader.php
  src/batch/src/Job/Item/Writer/RoutingWriter.php
  src/batch/src/Job/Parameters/ChainParameterAccessor.php
  src/batch/src/Job/Parameters/ReplaceWithVariablesParameterAccessor.php
  src/batch/src/JobExecution.php
  src/batch/src/JobParameters.php
  src/batch/src/Launcher/JobLauncherInterface.php
  src/batch/src/Serializer/JsonJobExecutionSerializer.php
  src/batch/src/Summary.php
  src/batch/src/Test/Factory/SequenceJobExecutionIdGenerator.php
  src/batch/src/Test/Finder/DummyFinder.php
  src/batch/src/Test/Job/Item/Writer/InMemoryWriter.php
  src/batch/src/Trigger/Scheduler/CallbackScheduler.php
  src/batch/src/Trigger/Scheduler/ScheduledJob.php
  src/batch/src/Trigger/Scheduler/SchedulerInterface.php
  src/batch/src/Trigger/Scheduler/TimeScheduler.php
  src/batch/src/Trigger/TriggerScheduledJobsJob.php
  src/batch/src/Warning.php
Labels: yokai/batch, yokai/batch-doctrine-dbal, yokai/batch-symfony-console, yokai/batch-symfony-framework, yokai/batch-symfony-messenger, yokai/batch-symfony-serializer, yokai/batch-symfony-validator

#138 Introduce symfony/uid bridge to generate JobExecution ids
  .github/labeler.yml
  .github/release.yml
  .gitsplit.yml
  composer.json
  docs/docs/bridges/symfony-framework.rst
  docs/docs/bridges/symfony-uid.rst
  src/batch-symfony-framework/src/DependencyInjection/Configuration.php
  src/batch-symfony-framework/src/DependencyInjection/JobExecutionIdGeneratorDefinitionFactory.php
  src/batch-symfony-framework/src/DependencyInjection/YokaiBatchExtension.php
  src/batch-symfony-framework/src/Resources/services/global/alias.xml
  src/batch-symfony-framework/src/Resources/services/global/core.xml
  src/batch-symfony-framework/tests/DependencyInjection/YokaiBatchExtensionTest.php
  src/batch-symfony-uid/.gitattributes
  src/batch-symfony-uid/.github/workflows/lockdown.yml
  src/batch-symfony-uid/.gitignore
  src/batch-symfony-uid/LICENSE
  src/batch-symfony-uid/README.md
  src/batch-symfony-uid/composer.json
  src/batch-symfony-uid/phpunit.xml
  src/batch-symfony-uid/src/Factory/RandomBasedUuidJobExecutionIdGenerator.php
  src/batch-symfony-uid/src/Factory/TimeBasedUuidJobExecutionIdGenerator.php
  src/batch-symfony-uid/src/Factory/UlidJobExecutionIdGenerator.php
  src/batch-symfony-uid/tests/Factory/RandomBasedUuidJobExecutionIdGeneratorTest.php
  src/batch-symfony-uid/tests/Factory/TimeBasedUuidJobExecutionIdGeneratorTest.php
  src/batch-symfony-uid/tests/Factory/UlidJobExecutionIdGeneratorTest.php
  src/batch/README.md
Labels: yokai/batch, yokai/batch-symfony-framework

#156 Remove traces of box/spout bridge
  composer.json
  src/batch-openspout/README.md
Labels: yokai/batch-openspout
